

.header continer{
    background: #ffff;
    box-shadow: -1px 4px 20px 1px #f1f1f185;
}

.header .header{
    justify-content: space-between;
    align-items: center;
    padding: 0;
}
img.icon{
    width: 20px;
}
.header-left{
    justify-content: space-between;
    align-items: center;
}
ul.navbar-item{
    display: flex;
}
.dropdown{
    position: relative;
}
.user-profile-dropdown{
    margin-left: 20px;
    margin-right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-link.user{
    padding: 6px 0;
    font-size: 25px;
    color: #9999;
    position: relative;
}























